.page {
  padding: 0;
  /* ограничения по ширине */
  min-width: 320px;
  /* предпочтения по шрифтам */
  font-family: Inter, Arial, sans-serif;

  background-color: var(--color-ground);
  color: var(--color-fill);
  cursor: default;
}
