.header__lang-link_nic {
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: end;
  text-decoration: none;
  color: var(--color-fill);
}

.header__lang-link_nic:hover {
  text-decoration: underline;
}
