.header__logo {
  display: block;
  height: 100%;
  max-width: 176px;
  object-fit: cover;
  content: url(../../../images/header-logo.svg);
}

@media (max-width: 767px) {
  .header__logo {
    max-width: 142px;
  }
}
