.content {
  display: flex;
  padding: 0;
  margin: 28px auto 24px;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .content {
    max-width: 100vw;
  }
}

@media (max-width: 767px) {
  .content {
    margin-top: 16px;
  }
}
