.content {
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .content {
    max-width: 100vw;
  }
}
