.cover__txt {
  /* margin: 0;
  padding: 0; */
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;

  width: 100%;
  /* align-items: center;
  justify-items: center; */
  align-self: center;
  justify-self: center;

  z-index: 2;
}
