.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 114%;
  text-align: right;
  color: var(--color-fill);
}

.footer__copyright::before {
  /* font-family: sans-serif; */
  content: '\00A9';
}

@media (max-width: 768px) {
  .footer__copyright {
    margin-top: 48px;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
}
