.intro {
  display: flex;
  width: calc(100% - 590px);
  padding: 0;
  margin: 92px auto 92px 148px;
  flex-direction: column;
  align-items: start;
  /* align-self: flex-start; */
  /* justify-content: space-between;
  flex-wrap: nowrap; */
}
