.cover {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  aspect-ratio: 8/5;
  margin-top: 92;
}

@media (max-width: 1023px) {
  .cover {
    margin-top: 90;
  }
}

@media (max-width: 767px) {
  .cover {
    margin-top: 66;
  }
}
