.cover__background {
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  /* background-image: url(../../../images/cover-trains.jpg);
  background-size: cover; */
  object-fit: cover;
}
