.header__nic {
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: end;
  text-decoration: none;
  color: var(--color-fill);
}

.header__nic:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header__nic {
    font-size: 22px;
  }
}
