.place__vebsite {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-right: 28px;
  align-self: end;
}

@media (max-width: 1279px) {
  .place__vebsite {
    margin-right: 0;
  }
}
